# Server
PORT=3001
JWT_SECRET=your_jwt_secret_here
CLIENT_URL=http://localhost:5173

# Client
VITE_API_URL=http://localhost:3001
VITE_SERVER_URL=http://localhost:3001
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key